#onesignal-slidedown-container,
#onesignal-slidedown-dialog,
#onesignal-bell-container,
.ad-container,
.banner {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}

body.body--banner-sticky.with-banner-sticky #headerSticky.main-header__sticky-wrapper {
    top: 0px !important;
}

body .header-ad {
    padding: 0 !important;
}