/* Publicidad - Oculta ad-slots y banners */
.ad-container,
*[class*="ad-slot"],
*[class*="banner"] {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}


/* Mejoras de distribución UI */
*:has(*[class*="ad-slot"]):not(:has(> :not(*[class*="ad-slot"]))),
.b-quad-chain__child-item.c-stack:has(*[class*="ad-slot"]),
.c-grid.b-right-rail__rail-container:not(:has(*:not(:empty))) {
    display: none !important;
}


@media (min-width:1024px) {
    .b-quad-chain__children-grid:has(.b-quad-chain__child-item.c-stack *[class*="ad-slot"]) {
        grid-template-columns: repeat(3, 1fr) !important;
        margin: 0 calc(12.5% + 0.1866rem) !important;
    }
}
