/* Suscriptores - Cambia el color de fondo del ícono de paywall a negro (reemplaza el color original) */
.iWubfS>div,
.hfYYTL>div,
.icon-paywall-box>div>div {
    background: rgb(0, 0, 0) !important;
}

/* Suscriptores - Cambia el color del SVG interno del ícono de paywall a rojo */
.icon-paywall-box>div>div svg[fill="black"]{
    fill: rgb(245, 2, 2) !important;
}

/* Suscriptores - Oculta el botón de suscripción en el menú de usuario y en el header */
ul.contentUser>li.widget-weizenbock a,
.home li a.kjZxUp {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}
