/* Publicidad - Oculta los elementos con clase .elciu-target (contenedor de ads del sitio) */
.ad-container,
.elciu-target {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}


/* Mejoras de distribución UI */

.elementor-1552317 .elementor-element.elementor-element-2e4c1028 {
    display: none !important;
}

.elementor-1552317 .elementor-element.elementor-element-3191332a {
    width: 100% !important;
}
.elementor-1552317 .elementor-element.elementor-element-3191332a .elementor-grid-3 .elementor-grid {
    grid-template-columns: repeat(4,1fr) !important;
}

