/* Publicidad - Oculta banners, publicidades y la sección lateral de publicidad */
.ad-container,
*[class*="publicidad"],
*[class*="_publi"],
*[class*="banner"],
#sitio+.is-narrow:not(.item),
footer.footer>.fs,
.newheader_main__subscribe,
.ad_top_sticky,
#h_top_sticky,
.container_publi,
.cont-300:has(.banner):not(:has(> :not(.banner))),
.cont-suscrb,
.grecaptcha-badge {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}


/* Mejoras de distribución UI */
.footer .mustang {
    height: 0 !important;
    padding: 0 !important;
    margin: 24px 0 0 !important;
}
.frases_1_mas_vistas > .contenedor.grid.align-center {
    justify-content: center !important;
}
body.hasAdTop {
    --ad-top-current: 0px !important;
}
#newheader_root.header.newheader.hasAdTop {
    transform: translateY(0px) !important;
}
.header.newheader~.aux_header {
    height: 174px !important;
}

body.take-over-open {
    overflow: auto !important;
}

:root {
    --ad-top-height: 0px !important;
    --fixed-stack-height: 210px !important;
}