/* Publicidad - Oculta banners */
.banner,
*[class*="banner"]:not(body),
body.listado #sidebar-right {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}


/* Mejoras de distribución UI sin banners publicitarios*/
body.listado #main.cl-16 {
    grid-column: 5/21 !important;
}
@media only screen and (max-width: 1023px) {
    .menu {
        top: 0 !important;
    }
    .inicio [id=page] {
        padding: 20px 20px 0 !important;
    }
    .menu-desplegable {
        top: 62px !important;
    }
}