/* Publicidad - Oculta ad-slots, contenedores de anuncios, header ads y banners */
.ad-container,
*[class*="ad-slot"],
*[class*="ad-container"],
*[class*="header_ad"],
*[class*="banner"] {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}


/* Mejoras de distribución UI */
*:has(.ad-container):not(:has(> :not(.ad-container))) {
    display: none !important;
}
.brick-full-width-background {
    margin-left: calc(50% - var(--vw, 1vw)*50) !important;
    width: calc(var(--vw, 1vw)*100) !important;
}