/* Publicidad - Oculta los contenedores de publicidad de Infobae (dfpAd, arcad, ad-wrapper, etc.) */
div[class*="sticky-navbar-ad-container"],
div[class*="dfpAd"],
div[class*="ad-exp-push"],
div[class*="ad-text"],
div[class*="up-show"],
div[class*="arcad"],
div[class*="ad-wrapper"],
div[id*="google_ads_iframe_"],
div[class*="iframe-timezone"],
.ad-container,
div[class*="iframe-election"] {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}

/* Publicidad - Corrige la altura del navbar cuando se elimina el banner sticky superior */
div.width_full {
    height: 48px !important;
}

@media only screen and (max-width: 992px) {
    div.width_full {
        height: 56px !important;
    }
}


.new-centered-layout .new-span-rail-right:has(div[class*="ad-wrapper"]):not(:has(> :not(div[class*="ad-wrapper"]))) {
    display: none !important;
}

@media (min-width: 1365px) and (max-width: 1599px) {
    .new-centered-layout {
        grid-template-columns: minmax(0, 1fr) !important;
        grid-template-areas: "body" !important;
    }
    .new-centered-layout .new-centered-body {
        /*grid-area: body;
        width: 100%;
        padding: 0 16px;*/
        margin: 0 auto !important;
    }
}