/* Suscriptores - Oculta el enlace de suscripción a lavoz.com.ar y widgets de contenido premium */
a[href*="https://suscripcion.lavoz.com.ar"]:not(.nav__link),
aside[data-mrf-recirculation*="widget-"]>div>div>div>div.flex.items-end,
aside[data-mrf-recirculation*="widget-"]>section>div>div.flex:has(a[target="_blank"][cmp-ltrk="widget-premium"][cmp-ltrk-idx="0"]) {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}
/* Suscriptores - Desactiva el clic en el enlace de suscripción del nav principal (queda visible pero inactivo) */
a[href*="https://suscripcion.lavoz.com.ar"].nav__link {
    pointer-events: none !important;
}

/* Suscriptores - Cambia el color del texto de suscripción a rojo (identidad visual de la extensión) */
.text-lvi-suscription {
    color: #ff0000 !important;
}
a.text-lvi-suscription {
    color: #ff6d6d !important;
}
/* Suscriptores - Cambia el fondo de los elementos de suscripción a rojo */
.bg-lvi-suscription {
    background-color: #ff0000 !important;
}
/* Suscriptores - Cambia el borde de los elementos de suscripción a rojo */
.border-lvi-suscription {
    border-color: #ff0000 !important;
    color: white !important;
}
