/* Publicidad - Oculta banners y el separador que queda flotando tras ocultarlos */
.ad-container,
.banner+.separator,
*[class*="banner"] {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}


/* Mejoras de distribución UI */


.block1.block-child:has(*[id*="localNews"]:empty),
.block1.block-child:has(*[id*="localNews"]:empty) + .separator,
#footer #credits {
    display: none !important;
}

#footer {
    height: 160px !important;
}

@media (min-width: 800px) and (max-width: 1082px) {
    #footer {
        height: 215px !important;
    }
}
