.modulo1 div:has(> div>.bannerSRA):not(.modulo-unico),
.modulo2 div:has(> div>.bannerSRA):not(.modulo-unico),
.modulo1 div:has(> div>.SRA):not(.modulo-unico),
.modulo2 div:has(> div>.SRA):not(.modulo-unico),
.modulo2 div:has(> div>.lazyBanner):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja0):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja1):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja2):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja3):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja4):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja5):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja6):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja7):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja8):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja9):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja10):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja11):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-caja12):not(.modulo-unico),
.modulo2 div:has(> div>#div-gpt-ad-horizontal1),
.modulo2 div:has(> div>#div-gpt-ad-horizontal2),
.modulo2 div:has(> div>#div-gpt-ad-horizontal3),
.modulo2 div:has(> div>#div-gpt-ad-horizontal4),
.modulo2 div:has(> div>#div-gpt-ad-horizontal5),
.modulo2 div:has(> div>#div-gpt-ad-horizontal6),
#div-gpt-ad-horizontal1 ins[id*="gpt_unit"],
a.subscription,
#btn-login+div:has(div>div>a.subscription-button-misc) {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}

.JQdRE {
    width: 670px !important;
    margin-left: calc(70% - 670px);
}