/* Publicidad - Oculta banners y popups publicitarios */
.ad-container,
*[class*="popup-"],
*[class*="banner"],
amp-sticky-ad,
footer .our-logos {
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}

/* Mejoras de distribución UI */

#zona-ecos .ecos,
.ocio-inner-container .general-link-holder .extra-holder {
    flex-basis: 100% !important;
}

#ocio>.inner-container>.flex-container.justify-between,
.extra-holder>.inner-container.justify-between {
    justify-content: center !important;
}

section#deportes iframe[src*="rosario3.datafactory"] {
    height: 170px!important;
}